body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[text-split] {
  opacity: 0;
}
html.w-editor [text-split] {
  opacity: 1;
}

.wf-design-mode .intro__section {
  display: none;
}

.word {
  overflow: hidden;
  transform-origin: bottom;
}

.template {
    opacity: 0;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

// .p-image {
//   z-index: 2;
//   /* width: 58.33%; */
//   overflow: hidden;
//   position: relative;
//   perspective: 1000px;
//   padding-bottom: 29.33%;
// }

// .p-image .p-src {
//   object-fit: cover;
//   position: absolute;
//   object-position: 50% 50%;
//   left: 0;
//   top: -25%;
//   width: 100%;
//   height: 120%;
//   will-change: transform;
//   backface-visibility: hidden;
// }


.hero__image.one {
  overflow: hidden;
  height: 12vw;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
  }
}

.hero__image.two {
  overflow: hidden;
  height: 14vw;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
  }
}

.hero__image.three {
  overflow: hidden;
  height: 39vw;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
  }
}

.hero__image.four {
  overflow: hidden;
  height: 23vw;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 115%;
    object-fit: cover;
    z-index: -1;
  }
}


  // [text-split] {
  //   opacity: 1;
  // }

  // .intro__section {
  //   display: none;
  // }

//   .title__section {
    
//     position: absolute;
//     left: 0;
//     right: 0;
    
//     .hero__title {
//       margin-top: -30vw;
//     }
//   }

//   .hero__images {
//     min-height: 65vw;
//     margin-bottom: 0;
//     margin-top: 4.4vw;
   
//   }

.heading-2 .word {
  padding-bottom: 0.08em;
}

.title__section {
  position: absolute;
  top: 0;
  left: 0 !important;
  right: 0 !important;
}

.hero__title {
  line-height: .74;
}

.hero__images {
  min-height: 63vw;
  margin-bottom: 0 !important;
}