body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[text-split] {
  opacity: 0;
}
html.w-editor [text-split] {
  opacity: 1;
}

.wf-design-mode .intro__section {
  display: none;
}

.word {
  overflow: hidden;
  transform-origin: bottom;
}

.template {
    opacity: 0;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

// .p-image {
//   z-index: 2;
//   /* width: 58.33%; */
//   overflow: hidden;
//   position: relative;
//   perspective: 1000px;
//   padding-bottom: 29.33%;
// }

// .p-image .p-src {
//   object-fit: cover;
//   position: absolute;
//   object-position: 50% 50%;
//   left: 0;
//   top: -25%;
//   width: 100%;
//   height: 120%;
//   will-change: transform;
//   backface-visibility: hidden;
// }
